<div class="fixed contain-to-grid">
    <nav role="navigation" data-topbar class="top-bar">
        <ul class="title-area">
            <li>
               <a href="/"><img src="/img/logo.png" class="logo"></a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                <!-- <li><a href="/cryptoparty">CryptoParty</a></li> -->
                <li><a href="/downloads">Downloads</a></li>
            </ul>
            <ul class="right">
                <li class="social-buttons">
                    <a title="IRC Chatroom" data-reveal-id="ircModal" href="#"><i class="fi-comment"></i></a>
                    <a title="Reddit" href="https://reddit.com/r/torontocrypto" target="_blank"><i class="fi-social-reddit"></i></a>
                    <a title="Github" href="https://github.com/torontocrypto"><i class="fi-social-github"></i></a>
                </li>
            </ul>
        </section>
    </nav>
</div>
